label{
  color: rgb(87, 57, 21);
  margin-right: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-coffe:hover{
  background-color: rgb(241, 210, 210);
  color: rgb(121, 87, 87);
}

button:disabled{
  background-color: gray;
}
button:enabled{
  background-color: rgb(87, 57, 21);
}

.submitClientBtn{
  margin-left: 100px;
}

@media screen and (max-width=600px) {
  .submitClientBtn{
    width: 100%;
  }

}
