<div class="card p-2 col-md-3 col-sm-12 m-3">

  <div class="card-header btn-coffe">
   <h5 class="card-title">{{dataSource.nombre}}</h5>
  </div>
  <div class="card-body">
    <img src={{dataSource.imagen}} class="rounded-circle float-start col-6" alt="{{dataSource.nombre}}">

    <div class="row justify-content-around">
      <p class="card-text col-6 ml-2 price-text">${{dataSource.precioUnitario}}</p>

      <input id="cantidadPedido"type="number" max="10" min="0">
    </div>
  </div>
  <div class="card-footer btn-coffe ">
    <p>Disponible: {{dataSource.cantidadEnStock}}</p>
  </div>
